<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <p>chat</p>
    <!-- Corrected the button to use a form for GET request -->
     <p>This is a Basic Chat remainer app with friends and we can change and d</p>
    <form method="GET" action="/chats">
        <button type="submit">Chat</button>
    </form>
</body>
</html>
